/*Stampe*/

.stampe{
    cursor: pointer;
    cursor: hand;
    text-decoration: underline;
}

/*Scadenze*/
.scadenze{
    //color:orange;
    font-weight:bold !important; 
}
.in-scadenza{
    color:red !important;
   /* text-decoration: blink;
    font-weight:bold !important; 
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function:linear;
    animation-iteration-count: infinite;

    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;*/
}
.scaduta{
    //color:green;
    font-weight:bold !important; 
}
.completata{

}

/*Annotazioni*/
.note{

}

/*Pareri*/
.pareri{

}
