/* 
    Document   : menu
    Created on : 8-ott-2012, 16.45.03
    Author     : marco
    Description:
        Purpose of the stylesheet follows.
*/

#nav-buttons A {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 9px; FONT-SIZE: 11px; PADDING-BOTTOM: 4px; MARGIN: 1px 0px; COLOR: #324362; PADDING-TOP: 4px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #c2d0ea; TEXT-DECORATION: none
}
#nav-buttons A:hover {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 9px; PADDING-BOTTOM: 4px; MARGIN: 1px 0px; COLOR: #000099; PADDING-TOP: 4px; BACKGROUND-COLOR: #eeedc0
}

A.iter-button {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 9px; FONT-SIZE: 11px; PADDING-BOTTOM: 4px; COLOR:#FFFFFF; PADDING-TOP: 4px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #336699; TEXT-DECORATION: none;
}
A:hover.iter-button {
	PADDING-RIGHT: 4px; DISPLAY: block; PADDING-LEFT: 9px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; COLOR:#000000; BACKGROUND-COLOR: #AAB4DC; TEXT-DECORATION: none;
}
#nav-buttons A.label-button{
    background-color:#336699;
    color:#FFFFFF;
    font-weight:bold;
}
#nav-buttons A:hover.label-button{
    
}