/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-dic-2013, 7.16.41
    Author     : mamo
*/

body{
    font-family: ‘Times New Roman’, Times, serif;
    font-size: 13px;
    color: #2A2675;
}
div.container{
    margin-top: 20px;
    
}
div.row{
    margin-top:10px;
}
input.pw-data{
    height:30px;
}

div.title{
    font-size: 16px;
    font-weight:bold;
    color: #2A2675;
}
.pw-data{
    font-size: 13px !important;
    color: #2A2675 !important;
    font-family: ‘Times New Roman’, Times, serif !important;
}
.btn{
    color: #2A2675 !important;
    font-family: ‘Times New Roman’, Times, serif !important;
}